.search__bar{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 20px 100px 0px ;
    /* box-shadow: rgba(255, 111, 0, 0.232) 0px 48px 100px 0px ; */
    width:max-content;
    margin-top: 50px;
    /* padding-top: 1rem; */
    border: 2px solid var(--secondary-color);

}

/* .form__group{
    padding-top: 10px;
} */

.form__group span{
    font-size: 1.8rem;
    color: #ee6e6e;
}

.form__group input {
    border: none;
    font-style: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
}

.form__group input:focus{
    outline: none;
}

.form__group h6{
    margin-bottom: 0;
}

.form__group-fast{
    border-right: 2px solid #ddd;
    /* padding-top: 10px; */
}

.search__icon i{
    font-size: 1.6rem;
    padding: 0.5rem;
    /* background-color: var(--secondary-color); */
    /* color: #fff; */
    color:var(--secondary-color);
    /* color: #ee6e6e; */
    /* border-radius: 10px 5px 10px 5px; */
    cursor: pointer;

    padding-left: 60px
}